ol {
  .processNav .on {
    background-color: #ed145b;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6c6c6c;
}

.cl:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

body {
  font: 12px/1.5 arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
}

.w {
  width: 1090px;
  margin: auto;
}

.header {
  min-width: 960px;
  background-color: #fff;

  .header1 {
    height: 85px;

    background-color: #fff;

    h1 {
      float: left;
      margin-top: 5px;
    }

    div {
      float: right;
      padding-top: 35px;
    }
  }
}

.bottom1 {
  .bottom {
    width: 900px;
    background-color: #ffffff;
    margin-left: 50px;
    margin-top: 100px;
  }
}

#receiver_addr {
  margin-left: 500px;
  margin-top: 50px;
}
