* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6c6c6c;
}

.cl:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

body {
  font: 12px/1.5 arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
}

.w {
  width: 1090px;
  margin: auto;
}

.header {
  min-width: 960px;
  background-color: #fff;

  .header1 {
    height: 85px;

    background-color: #fff;

    h1 {
      float: left;
      margin-top: 5px;
    }

    div {
      float: right;
      padding-top: 35px;
    }
  }
}

//登录页面
.sign {
  .login {
    margin-top: 50px;
    height: 446px;
  }

  .loginWrap {
    position: relative;

    .loginImage {
      width: 960px;
      height: 360px;
      // position: absolute;
      background: url(../img/zhuche.jpg) no-repeat;
    }

    .loginBord {
      position: absolute;

      top: 10px;
      right: 0;
      background: rgba(255, 255, 255, 0.85);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
      height: 540px;
      width: 400px;

      .box_head {
        height: 60px;

        h1 {
          font-size: 20px;
          float: left;
          font-weight: 600;
          color: #e31256;
          margin-top: 20px;
          margin-left: 15px;
        }

        p {
          float: right;
          margin-top: 25px;
          margin-right: 15px;

          span {
            color: #e31256;
          }
        }
      }

      //input样式
      .box {
        form {
          input {
            box-shadow: none;
            border: 1px solid #cfcfcf;
            background-color: #fff;
            vertical-align: middle;
            padding: 0 8px;
            line-height: 1.5;
            font-size: 14px;
            outline: 0;
            height: 35px;
            margin-top: 10px;
          }

          div {
            margin-top: 10px;
            margin-left: 20px;

            span {
              display: table-cell;
              float: right;
              margin-right: 50px;
              text-align: center;
              margin-top: 25px;
            }
          }

          .d7 {
            #regBtn {
              font-family: inherit;
              word-break: keep-all;
              text-align: center;
              line-height: 40px;
              font-weight: 700;
              font-size: 14px;
              cursor: pointer;
              padding: 0 30px;
              height: 40px;
              color: #fff;
              border: 0;
              width: 120px;
              background: #f8296d;
              margin-top: 50px;
            }

            input {
              font-family: inherit;
              word-break: keep-all;
              text-align: center;
              line-height: 40px;
              font-weight: 700;
              font-size: 14px;
              cursor: pointer;
              padding: 0 30px;
              height: 40px;
              color: #fff;
              border: 0;
              width: 120px;
              background: #41f041;
              margin-left: 20px;
              margin-bottom: 11px;
            }
          }
        }
      }
    }
  }
}

.bottom1 {
  .bottom {
    background-color: #ffffff;
    margin-left: 520px;
    margin-top: 100px;
  }
}
